@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply bg-background;
  }
  * {
    margin: 0;
    padding: 0;
    @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-primary [&::-webkit-scrollbar-thumb]:rounded-full  [&::-webkit-scrollbar-thumb]:bg-default;
  }
  .text-balance {
    text-wrap: balance;
  }
}
